@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  height: 100px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: fixed;
  top: 50%;
  width: 100px;
  z-index: $zindex-sticky;

  &::before {
    content: "Loading...";
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
  }

  &:not(:required) {
    &::before {
      animation: spinner .6s linear infinite;
      border: 5px solid darken($body-bg, 10%);
      border-radius: 50%;
      border-top-color: theme-color("success");
      content: "";
    }
  }

  &.light {
    &:not(:required) {
      &::before {
        border-color: darken(theme-color("success"), 5%) lighten($body-bg, 40%) lighten($body-bg, 40%);
      }
    }
  }
}
