<!doctype html>
<html dir="{{dir}}" lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <title>{{title}}</title>
  <link href="assets/css/app.css" rel="stylesheet">

  {% include 'partials/favicons.html' %}
</head>
<body>
{% block content %}{% endblock %}
<script src="assets/js/app.js"></script>
</body>
</html>
